.header {
	background-color: #e3f2fd;
	text-decoration: none;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
	color: #069;
  display: inline;
  margin: 0;
  padding: 0;
}